@model RailroadTransport.Models.Type

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<dl>
    <dt>@Html.DisplayNameFor(model => model.TypeId)</dt>
    <dd>@Html.DisplayFor(model => model.TypeId)</dd>
    <dt>@Html.DisplayNameFor(model => model.NameOfType)</dt>
    <dd>@Html.DisplayFor(model => model.NameOfType)</dd>
</dl>
<form asp-action="Delete">
    <input type="hidden" asp-for="TypeId" />
    <input type="submit" value="Удалить" class="btn btn-default" /> |
    <a class="btn btn-outline-dark" asp-action="Index">Вернуться к списку</a>
</form>